#user-login {
  max-width: 220px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.page-toboggan {
  padding-top: 0;
}

.page-toboggan .jumbotron {
  margin-bottom: 60px;
}

.page-toboggan .drupal-messages {
  margin-bottom: 60px;
}