.front .jumbotron {
  position: absolute;
  top: 43px;
  left: 0px;
  z-index: 99;
  width: 100%;
  background: @ehlbluetransparent;
}

#global-map {
  //height: 750px;
  background: @southkorea /*url('../img/square.png') repeat*/;
  position: relative;
  overflow: hidden;
}

.map {
  height: 580px;
  max-width: 1375px;
  //width: 100%;
  margin: 0 auto;
}

#global-map-controls {
  display: none;
  position: absolute;
  width: 150px;
  left: 20px;
  top: 160px;
  z-index: 99;
  a {
    display: block;
    background: rgba(0, 0, 0, 0.3);
    margin: 2px 0;
    color: @white;
    padding: 5px;
  }
  a:hover, a.active {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.6);
  }
}

.marker {
  width: 10px;
  height: 10px;
  .border-radius(10px);
  border: 2px solid @white;
  cursor: pointer;
}

.popup {
  h4 {
    width: 210px;
    color: @white;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 400;
    margin: 3px 0;
  }
  .map-post-data {
    width: 210px;
    background-color: @white;
    padding: 10px 15px;
    margin-top: 3px;
  }
  .triangle {
    width: 240px;
    background: url('../img/triangle.png') no-repeat;
    background-position: top center;
    height: 15px;
  }
}

#usa-marker, .usa-marker h4 {background: @usa;}
#spain-marker, .spain-marker h4 {background: @spain;}
#southkorea-marker, .southkorea-marker h4 {background: @southkorea;}
#slovenia-marker, .slovenia-marker h4 {background: @slovenia;}
#portugal-marker, .portugal-marker h4 {background: @portugal;}
#india-marker, .india-marker h4 {background: @india;}
#switzerland-marker, .switzerland-marker h4 {background: @switzerland;}
#chile-marker, .chile-marker h4 {background: @chile;}
#argentina-marker, .argentina-marker h4 {background: @argentina;}