.page-projects .view-filters {
  width: 100%;
  display: block;
  height: 70px;
}

article.node-project .row {
  margin: 0;
}

.row-fluid .view-project-list .no-margin {
  margin-left: 0 !important;
}

.row-fluid .view-project-list .span3 .project {
  height: 216px;
  @media only screen and (min-width: 1200px) {height: 254px;}
  @media only screen and (min-width: 768px) and (max-width: 979px) {height: auto;}
  @media only screen and (max-width: 767px) {height: auto;}
}

.project-item {
  margin-bottom: 30px;
}

.project-item .project {
  padding: 5px 0;
  a {
    color: @white;
  }
  .views-field {
    margin: 0 5px;
  }
  .avatar-frame .user-picture {
    border: none;
    float: left;
    margin-right: 10px;
    img {
      width: 60px; 
      height: auto;
      @media only screen and (min-width: 768px) and (max-width: 979px) {width: 40px;}
      @media only screen and (max-width: 767px) {width: 35px;}
    }
  }
}

.views-field-field-project-cover-image .field-content {
  width: 100%;
  overflow: hidden;
  height: 153px;
  margin-bottom: 5px;
  a {
    display: block;
    width: 100%;
  }
  @media only screen and (min-width: 1200px) {height: 189px;}
  @media only screen and (min-width: 768px) and (max-width: 979px) {height: 114px;}
  @media only screen and (max-width: 767px) {height: auto;}
}

article.node-project .sidebar label {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

article.node-project .sidebar table {
  margin-top: 20px;
}

.field-type-video-embed-field{
  legend{
    display:none;
  }
}