/******************************************************************************
/*
/*  Style EHL
/*  Antistatique.net, 2012
/*
******************************************************************************/

/*=============================================================================
** GENERAL
**============================================================================*/
h1, h2, h3, h4, h5{
  font-weight: normal;
}
body {
  position: relative;
  padding-top: 40px;
}

/*=============================================================================
** FORMS
**============================================================================*/

/*=============================================================================
** HEADER
**============================================================================*/
body > .navbar {
  font-size: 13px;
}
.block-search .form-actions{
  display:none;
}
.logo{
  background: url(../img/logo_ehl_white.png) no-repeat 0 0;
  float: left;
  width: 140px;
  height: 100px;
}
.jumbotron {
  padding: 20px 0 20px;
  color: #fff;
  background: @ehlblue;
  h1 {
    margin-top: 0.6em;
    font-size: 30px;
    padding-left: 150px;
    line-height: 1;
  }
  p {
    padding-left: 150px;
    font-size: 18px;
    line-height: 1.25;
  }
  .logo{
    border-right: 1px solid rgba(255,255,255,0.3);
    padding-right: 30px;
    margin-right: 40px;
  }
}

/*=============================================================================
** NAVIGATION
**============================================================================*/
.nav {
  z-index: 300;
}

/*=============================================================================
** CONTENT
**============================================================================*/
/* Marketing section of Overview
-------------------------------------------------- */

.marketing {
  text-align: center;
  color: #5a5a5a;
}
.marketing h1 {
  margin: 60px 0 10px;
  font-size: 40px;
  font-weight: 200;
  line-height: 1;
  letter-spacing: -1px;
}
.marketing h2 {
  font-weight: 200;
  margin-bottom: 5px;
}
.marketing p {
  font-size: 16px;
  line-height: 1.5;
}
.marketing .marketing-byline {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.25;
  color: #999;
}
.marketing img {
  display: block;
  margin: 0 auto 30px;
}

/*=============================================================================
** SCHOOLS
**============================================================================*/
.school a{
  display: inline-block;
  padding: 0.6em 0.9em;
  color: @white;
  background-color: red;
}
.schools{
  margin: 0;
  li{
    float: left;
    margin: 0.3em 0.6em 0.3em 0;
  }
}

/*=============================================================================
** FOOTER
**============================================================================*/
.footer{
  background-color: @grayDark;
  color: @white;
  padding: 40px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
}

/*=============================================================================
** ADMIN
**============================================================================*/
html body.admin-menu{
  margin-top: 40px!important;
}
